div{
    background-color: blueviolet;
    border: solid 1px black;
    /*height: 13px;*/
}

#calculator{
    display: flex;
    flex-flow: row wrap;
    width: 100px;
    
}

#calulator>#display{
    width: 100%;
    height: 100px;
    background-color: cyan;
}
#calulator>button{
    width: 100%;
    flex-grow: 1;
    background-color: magenta;
}
#caluclator>#zero{
    background-color: darkgreen;
}